@charset "UTF-8";
.container {
	width: 100%; height: 9000px;
	background-color: #edece5;
}
.sec1 {
	width: 100%; height: 980px;/* background-color: pink; */
	.cont_wrap { max-width: 1680px; position: relative; margin: 0 auto; }
	.title_cont { position: relative; z-index: 1; top: 350px; }
	h1 { position: relative; font-size: 185px; font-weight: 500; font-family: $Faktum; letter-spacing: -10px;}
	.slogan_txt { 
		position: absolute; top: -32%; left: 20%; font-size: 12px; font-family: $YoonGothicPro750;
		em { color: red; }
		>span { display: block; padding: 10px 0 0; }
	}
	.main_grid_line {
		width: 50%; height: auto; position: absolute; right: 0; top: 60px; border: 3px solid black;
		@include boxSizing;
		.img_wrap {
			width: 840px; height: 840px; background-color: blue; top: 50%;
			img { width: 100%; }
		}
	}
	.painting_deo {
		> .deco_box { position: absolute; background-color: black; }
		.box1 { width: 150px; height: 150px; top: -4%; right: 28%; }
		.box2 { width: 110px; height: 200px; top: 41%; right: -8%; }
		.box3 { width: 250px; height: 120px; bottom: -2%; left: 7%; }
	}
}
.sec2 {
	width: 100%; background-color: #ccc;
	.cont_wrap { max-width: 1680px; position: relative; margin: 0 auto; padding: 300px 0; }
	.txt_wrap {
		h1 { width: 60%; font-size: 80px; font-family: $Faktum; font-weight: 400; letter-spacing: -3px; }
		p { 
			font-family: $YoonGothicPro750; line-height: 38px; font-size: 19px; letter-spacing: -0.5px;
			span { display: block; padding: 30px 0 0; }
		}
	}
}

.sec3 {
	width: 100%; height:2100px;
	background-color: blue;
}

// 연습 페이지
.sub1 {
	.wrap {
		width: 100%; height: 100%;
	}
	.box1 {
		width:100%; height:100px;
		background-color: red;
	}
}