@charset "UTF-8";
/* container */
.container { width: 100%; background-color: $subColor; padding: 0 0 1000px; }

/* (start) section 1 - intro */
#intro {
	width: 100%; height: 980px;/* background-color: pink; */
	.covering_wrap { max-width: 1680px; height: 100%; position: relative; margin: 0 auto; display: flex; align-items: center; justify-content: center; }
	.main_title_txt { 
      display: inline-block; position: relative;/*  top: 388px; left: 293px; */ z-index: 1;
      top:5%;
		h2 { 
         width: max-content; position: relative; font-size: 230px; font-weight: $medium; letter-spacing: -15px; line-height: 195px; /* mix-blend-mode: overlay; */ color: #181712;
         font-family: $NeueMachina; text-align:center; position: relative; z-index: 1;
         -webkit-text-stroke:2px #181712;
         // color:white;
         // background-color: #e6e0cb; 
         // background-color: #836c3b; 
         // background-color: rgb(155, 155, 155);
         img { width: 250px; /* height:200px; */ }
			span { position: relative; top: -79px; }
			em {
            // width: 177px; position: relative; bottom: 0; font-size: 340px;
            display: inline-block;
				img { width: 100%; }
			}
		} 
      .sticker_bg {
         position: absolute; top:0; left:0;
         width: 100%;
         height: 100%;
         // background-color: $mainColor; 
         // background-color: #836c3b; 
         background-color: #a89242; 
         z-index: -1;
         @include rotate(-2);
      }
		.slogan_txt {  
			position: absolute; top: -157px; left: 9%; font-size: 12px;
			em { color: $mainColor; }
			> span { display: block; padding: 10px 0 0; }
		}
		.thumb_image {
         width: 300px;
         height: 160px;
         position: absolute;
         top: 15px;
         left: 492px;
         overflow: hidden;
         z-index: -1;
			img { width: 100%; }
		}
	}
	.main_grid_line {
		max-width: 840px; max-height: 840px; position: absolute; right: 0; top: 50px; /* border: 1px solid black; */   /*  opacity: .2; */
      /* mix-blend-mode: multiply; */ z-index: -1;
		@include boxSizing;
		.circle_svg_item {
         width: 239px; height: 240px; position: absolute; bottom: 0; right: 0; z-index: 1;
			ellipse { stroke: #dcd9cc; stroke-width: 2px; fill: $subColor; stroke-miterlimit: 10; stroke-dasharray: 750; stroke-dashoffset: 750; }
		}
		.star_svg_item {
         width: 124px; height: 122px; position: absolute; /* top: 92px; right: 352px; */
         top: 177px; right: 176px; z-index: 1;
			@include scale(0);
			path { stroke: #dcd9cc; stroke-width: 2px; fill: $subColor; stroke-miterlimit: 10; stroke-dasharray: 395; stroke-dashoffset: 0; }
		}
		.rhombus_svg_item {
         width: 360px; height: 240px; position: absolute; top: 0; left: 0; z-index: 1;
			polygon { stroke: #dcd9cc; stroke-width: 2px; fill: $subColor; stroke-miterlimit: 10; stroke-dasharray: 880; stroke-dashoffset: 880; }
		}
		.line_element_wrap {
			width: 100%; height: 100%; position: relative; /* opacity: 0;  */
			.trick_img { width: 100%; opacity: 0; }
			.grid_content { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
			.row_grid {
				width: 100%; height: 100%;
				> div { width: 100%; height: auto; }
				span { display: block; width: 0; height: 2px; background-color:  #dcd9cc; margin: 0 auto 14%; }
			}
			.col_grid {
				width: 100%; height: 100%;
				@include rotate(90);
				> div { width: 100%; height: auto; }
				span { display: block; width: 0; height: 2px; background-color:  #dcd9cc; margin: 0 auto 14%; }
			}
		}
	/* 	.grid_line_svg {
			width: 850px; height: 850px;
			line { stroke: #e1e1e1; stroke-width: 2px; fill: none; stroke-miterlimit: 10; stroke-dasharray: 420; stroke-dashoffset: 420; }
		} */
	}
	.moving_image {
		> div { position: absolute; background-color: black; }
		.element_1 { 
			width: 200px; height: 240px; top: -4%; right: 28%; 
			background:url(./../../images/main/img3.png) 0 0 repeat;
		}
	}
   .path_img_wrap {
      position: absolute; left: 0; bottom: 130px;
      svg {
         width:300px;
         // background-color: black;
         polygon, polyline, path, circle {
            width:100%; height: 100%;
            stroke: red; stroke-width: .5px; fill: transparent; stroke-miterlimit: 10;
         }
      }
   }
}
/* (end) section 1 - intro */

/* (start) section 2 - introduce */
#introduce {
	width: 100%;
   .covering_wrap { max-width: 1920px; margin: 0 auto; }
   .intro_elm {
      width: max-content; height: 1000px;
      > div {
         &:nth-of-type(2) { 
            strong { color: black; }
         }
      }
      .txt_cont { width: max-content; }
      strong { font-size: 161px; display: block; letter-spacing: -8px; color: $subColor; text-decoration: #ccc; text-shadow: 1px 1px 0 #ccc, -1px 1px 0 #ccc, 1px -1px 0 #ccc, -1px -1px 0 #ccc; }
      span { font-size: 19px; }
   }
	.top_elm {
      position: relative; padding: 371px 0 0;
		@extend %clearfix;
		.small_img {
         width: 400px; position: relative; float: left;
			img { width: 100%; }
			span { position: absolute; top: -29px; right: 0; font-family: $NeueMachina; }
		}
		.right_wrap {
         width: 800px; position: relative; float: right; margin: 150px 0 0;
         .first_txt { 
            margin: 0 0 0 -179px;
            span { 
               font-size: 70px; margin: 0 0 0 181px; font-weight: 500; letter-spacing: -3px; color: $subColor; word-break: break-all; 
               font-family: $NeueMachina; 
               
               // text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
               -webkit-text-stroke: 1px black;
            }
            em { display: block; margin: 20px 0 10px 181px; }
         }
			.bottom_txt { position: absolute; bottom: -29px; left: 0; font-family: $NeueMachina; }
         .img_wrap {
            img { width:100%; } 
         }
		}
		.txt_wrap {
			float: left; margin: 150px 0 0 150px;
			h2 { 
				font-size: 74px; font-weight: $regular; letter-spacing: -5px; 
            font-family: $NeueMachina; 
				mark { color: rgb(105, 65, 250); background-color: transparent; }
			}
			p { 
				/* font-family: $YoonGothicPro750; */ line-height: 38px; font-size: 19px; letter-spacing: -0.5px;
				span { display: block; padding: 30px 0 0; }
			}
		}
   	.moving_image {
         > div { position: absolute; background-color: black; }
         .element_1 { width: 200px; height: 240px; top: 51%; left: 8%; background: url(./../../images/main/img3.png) 0 0 repeat; }
      }
	}
	.btm_elm {
		padding: 300px 0 0;
		ul.icon_wrap { max-width: 1200px; height: 1000px; position: relative; margin: 0 auto; }
		li.icon_cont {
			width: 200px; height: 200px; position: absolute; border: 2px solid #e1e1e1;
			&:nth-of-type(1) { top: 5%; left: 8%; }
			&:nth-of-type(2) { top: 35%; left: 22%; }
			&:nth-of-type(3) { top: 0; right: 0; }
			&:nth-of-type(4) { top: 19%; right: 26%; }
			&:nth-of-type(5) { top: 58%; left: 0%; }
			&:nth-of-type(6) { top: 60%; right: 10%; }
			&:nth-of-type(7) { top: 73%; left: 37%; }
			span {
				width: 100%; height: 100%; display: block; background-color: blue; overflow: hidden;
				@include borderRadius(100%);
				img { width: 100%; }
			}
		}
	}
	.more_elm {
		margin: 300px 0;
		.tit_wrap {
			width: 100%;
			strong { display: block; text-align: center; margin: 0 auto; font-weight: $regular; font-size: 151px; letter-spacing: -10px; line-height: 121px; font-family: $NeueMachina;  }
			em { position: relative; top: -7px; left: 9px; font-family: $Faktum; font-size: 126px; }
			span { width: max-content; display: block; margin: 0 auto; }
		}
	}
}
/* (end) section 2 - introduce */

/* (start) section 3 - project */
#project {
	width: 100%; position: relative; overflow: hidden;/*  margin: 0 0 2000px; */
   border-top:1px solid black;
   
	.hidden_wrap {
		width: 100%; height: 100vh; position: absolute; top: 0; z-index: -1;
		.hiden_txt {
			// width: 200px; height: 200px; position: absolute; background-color: red;
			&:nth-of-type(1) { top: 40%; left: 20%; }
			&:nth-of-type(2) { top: 0; left: 0; }
			&:nth-of-type(3) { top: 50%; right: 0; }
		}
	}
	.project_fix_img {
		width: 100%; height: 100vh; position: absolute; top: 0; left: 0; opacity: 0;      
      &:after {
         width: 100%; height: 100vh; content: ""; display: block; position: absolute; top: 0; left: 0; border: 5px solid red; background-color: black; opacity: .7;
         @include boxSizing;
      }
		.intro_img { width: 100%; height: 100vh; position: absolute; top: 0; background: url(./../../images/main/02_1.395187c6.jpg) 50% 50% no-repeat; background-size: cover; }
		.lg_img { position: absolute; top: 0; width: 100%; height: 100vh; background: url(./../../images/main/img4.jpg) 50% 50% no-repeat; background-size: cover; opacity: 0; }
		.msfk_img { position: absolute; top: 0; width: 100%; height: 100vh; background: url(./../../images/main/img6.jpg) 50% 50% no-repeat; background-size: cover; opacity: 0; }
		.hyosung_img { position: absolute; top: 0; width: 100%; height: 100vh; background: url(./../../images/main/img5.jpg) 50% 50% no-repeat; background-size: cover; opacity: 0; }
	} 

   /* Project Intro Text (프로젝트 소개) */
   .content_wrap { padding: 0 0 500px; }
   .project_intro { 
      width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column;
      .first_desc, .second_desc { width: 50%; height: 35px; text-align: center; overflow: hidden; }
      .encase_txt {
         position: relative; color: $white; transform: translate3d(0, 35px, 0);
         p { font-size: 30px; line-height: 35px; }
      }
   }

   /* common (공통) */
   .elm_cont {
      width: 100%; height: 100vh;/* height: 980px; */padding: 190px 0;/* background-color: rgba(83, 56, 56, 0.473); */
      .encase {
         max-width: 1920px; height:100%;/*  max-width: 1300px; */ position: relative; margin: 0 auto;
         .desc_wrap { 
            text-align: center;
            >span { display: block; font-size: 24px; color: #fff; }
            h2 { 
               padding: 50px 0 0; font-family: $NeueMachina; font-size: 145px; color: #fff; text-align: center; display: inline-block; text-transform: none;/* -webkit-text-stroke: 6px $white; */font-weight: $bold;
               em { position: relative; top: -9px; left: 18px; font-size: 60px; }
            }
            .sub_desc {
               max-width: 800px; margin: 0 auto; padding: 88px 0 0; text-align: left;
               strong { margin: 0 auto; font-size: 39px; font-weight: 400; letter-spacing: 0; padding: 0 0 20px; display: inline-block; line-height: 38px; color: #fff; }
               p {  
                  width: 705px;/* margin: 0 0 0 50px; */ font-size: 18px; font-weight: 400; line-height: 28px; color: #fff; margin: 0 auto; 
                  > span { margin: 0 0 0 82px; }
               }
            } 
         } 
         .link_wrap { 
            width: 38%; max-width: 550px; height: 650px; position: absolute;
            .link_btn {
               width: 100%; height: 100%; display: block;
               img { width: 100%; height: 100%; }
               span { position: absolute; bottom: -40px; display: block; font-size: 22px; color: white; left: 0; }
            }
         }
      }
   }
   /* // common (공통) */
   /* 개별 */
	.project_main {
		.lg_contents {
         .encase {
            .desc_wrap { 
               margin: 0 0 0 -18%;
               h2 { margin: 0 0 0 -233px; }
            } 
            .link_wrap { 
               right: 2%; top: 11%;
               .link_btn {
                  span {  left: 0; }
               }
            }
         }
		}
		.msf_contents {
         .encase {
            .desc_wrap { 
               width: 50%; float: right; margin: 0 11% 0 0;
               h2 { margin: 0 0 0 -233px; }
            } 
            .link_wrap { 
               left: 2%; top: 11%;
               .link_btn {
                  span {  left: 0; }
               }
            }
         }
      }
		.hyo_contents {
         .encase {
            .desc_wrap { 
               margin: 0 0 0 -16%;
               h2 { margin: 0 0 0 -233px; }
            } 
            .link_wrap { 
               right: 2%; top: 11%;
               .link_btn {
                  span {  left: 0; }
               }
            }
         }
		}
	}
	.last_wrap {
		position: relative; margin: 600px 0 0;
		.tit_wrap {
			width: 100%; color: $white;
			strong { display: block; text-align: center; margin: 0 auto; font-weight: $regular; font-size: 151px; letter-spacing: -10px; line-height: 121px; font-family: $NeueMachina; }
			em { position: relative; top: -7px; left: 9px; font-family: $Faktum; font-size: 126px; }
			span { width: max-content; display: block; margin: 0 auto; }
		}
	}
}
/* (end) section 3 - project */


$total: 24;
.ddd {
   display: block;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0 0;
   animation: minime_animation_pc #{$total + 1s} steps(1) backwards;
   animation-play-state: paused;
   animation-iteration-count: initial;
   animation-duration: #{$total + 1s};
}

@keyframes minime_animation_pc {
   // @for $i from 0 to $total + 1 {
   //    $current-frame: ($i * $per);
   //    #{$current-frame} {
   //       background-position: -#{$pc-width * $i} 0;
   //       width: $pc-width;
   //       height: $pc-height;
   //    }
   // }
}

// @keyframes minime_animation_mo {
//    @for $i from 0 to $total + 1 {
//       $current-frame: ($i * $per);
//       #{$current-frame} {
//          background-position: -#{$mo-width * $i} 0;
//          width: $mo-width;
//          height: $mo-height;
//       }
//    }
// }