@charset "UTF-8";
@import "./_common/base";
@import "./layout";
@import "./main";

/* common css */
//기본 스타일
::selection { background:$white; color:$black; text-shadow:none; }
::-moz-selection { background:$white; color:$black; text-shadow:none; }
img { vertical-align:top; image-rendering:-webkit-optimize-contrast;}
caption { width:1px; height:1px; overflow:hidden; margin:-1px;}
strong { font-weight: $regular; }

.guide_line {
	div {
		&:after,
		&:before { width: 1px; height: 100%; display: block; content: ""; position: fixed; background-color: rgb(4, 160, 160); z-index: 1000; }
		&.guide_70 {
			&:before {left:vw(40);}
			&:after {right:vw(40);}
		}
		&.guide_center {
			&:before {left:50%;}
		}
		&.guide_1180 {
			&:before {left:50%; margin:0 0 0 -590px;}
			&:after {left:50%; margin:0 0 0 590px;}
		}
		&.guide_1800 {
			&:before {left:50%; margin:0 0 0 -900px;}
			&:after {left:50%; margin:0 0 0 900px;}
		}
		&.guide_1680 { 
			&:before {left:50%; margin:0 0 0 -840px;}
			&:after {left:50%; margin:0 0 0 840px;}
		}
	}
}

