/* NeueMachina */
@font-face {
	font-family: "NeueMachina";
	font-style: normal;
	font-weight: 400;
	src:url(../../fonts/NeueMachina-Regular.woff) format("woff");
}
@font-face {
	font-family: "NeueMachina";
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/NeueMachina-bold.woff2) format("woff2");
}
/* Faktum */
@font-face {
	font-family: "Faktum";
	font-style: normal;
	font-weight: 400;
	src:url(../../fonts/Faktum-Regular.woff) format("woff");
}
@font-face {
	font-family: "Faktum";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/Faktum-medium.woff2) format("woff2");
}
@font-face {
	font-family: "Faktum";
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/Faktum-Bold.woff) format("woff");
}
/* YoonGothicPro750 */
@font-face {
	font-family: "YoonGothicPro750";
	font-style: normal;
	font-weight: 600;
	src:url(../../fonts/YoonGothicPro750.woff) format("woff");
}